.moonlight {
  --main-bg-color: #222436;
  --hover-bg-color: #444a73;
  --input-bg-color: #191a2a;
  --menu-bg-color: #2f334d;
  --text-color: #bcd1f3;
  --hover-text-color: white;
}

.light {
  --main-bg-color: white;
  --hover-bg-color: #2675bf;
  --input-bg-color: #dedede;
  --menu-bg-color: white;
  --text-color: black;
  --hover-text-color: black;
}

.solarized-light {
  --main-bg-color: #fdf6e3;
  --hover-bg-color: #e8dcb6;
  --input-bg-color: #eee8d5;
  --menu-bg-color: #f6f0de;
  --text-color: #686f76;
  --hover-text-color: black;
}

.solarized-dark {
  --main-bg-color: #002b36;
  --hover-bg-color: #2e4c52;
  --input-bg-color: #00252e;
  --menu-bg-color: #003745;
  --text-color: #709295;
  --hover-text-color: white;
}

.material-oceanic {
  --main-bg-color: #263238;
  --hover-bg-color: #546e7a;
  --input-bg-color: #1e272c;
  --menu-bg-color: #32424a;
  --text-color: #a6bdc3;
  --hover-text-color: white;
}

.darcula {
  --main-bg-color: #2b2b2b;
  --hover-bg-color: #2f65ca;
  --input-bg-color: #2b2b2b;
  --menu-bg-color: #3c3f41;
  --text-color: #b2b7b9;
  --hover-text-color: #b9babc;
}

.topnav {
    padding-bottom:0.5rem;
    }
/* Style the links inside the navigation bar */
.topnav a {
  color: var(--text-color);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav button {
    border: none;
    border-radius: 4px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    }

/* Change the color of links on hover */
.topnav button:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-bg-color);
  color: #cfc9b2
}

.right {
    background-color: var(--main-bg-color);
    }

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #262b33;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 90vh;
  background-color: var(--menu-bg-color);
  backdrop-filter: blur(5px);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 15px 0;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li {
  padding: 12px;
  text-decoration: none;
  color: var(--text-color);
}

#myMenu {
  font-size:14px;
  overflow-y:scroll;
  height:30rem;
}

#mySearch {
    width: 37vh;
    font-size: 16px;
    border:0px;
    padding: 8px;
    color: var(--text-color);
    background-color: var(--input-bg-color);
    overflow: hidden;
    flex: 1 0 auto;
}

.fa-circle{
  padding-right: 6px
  }

li.selected {
    background: var(--hover-bg-color);
    color: var(--hover-text-color) !important;
    }

.showItem {display:"";}
.hideItem {display:none;}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  font-size: 16px;
  padding: 8px;
  border:0px;
}

#loading-hourglass {
    font-size: 25vh;
    text-align: center;
    padding-top: 10vh;
    color: var(--text-color);
    };

/* For IE10 */
select::-ms-expand {
  display: none;
}

#recentcheckboxlabel {
    color: var(--text-color);
    }

#recentcheckboxlabel {padding-left:8px}

#content h2 {color:var(--text-color);}

#theme-selector {float: right;}
